h1, h2 {
    font-family: 'Oswald', arial;
}

body {
    background-color: ivory;
    color: darkblue;
    font-family: 'Open Sans', arial;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    width: 950px;
}

img {
    float: left;
    margin-right: 20px;
}