/* Header */
header {
    border: 5px solid black;
}

/* Footer */
footer {
    border: 5px solid black;
    border-top: 0;
}

/* General */
body {
    width: 800px;
    margin: 0 auto;
}

/* Right table column */
div {
    background-color: rgb(91, 91, 180);
    border: 3px solid black;
    color: white;
    display: flex; 
    font-family: 'Oswald', sans;
}

/* Left table column */
.left {
    background-image: url("images/back.png");
    width: 300px;
}

/* Price box */
.price {
    background-color: rgb(164, 2, 179);
    border: 2px solid black;
    text-align: center;
}

/* Image Styles */
img {
    height: 200px;
    width: 200px;
}

/* Header 1 */
h1 {
    font-family: 'Oswald', sans;
    font-size: 52px;
    text-align: center;
}

/* Header 2 */
h2 {
    text-align: center;
}

/* Header 3 */
h3 {
    font-size: 40px;
    font-family: 'Tangerine', sans;
    text-align: center;
}

/* Main Element */
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

/* Rotate Image */
.rotate img
{
  animation: rotation .3s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}