/* Page Body */
body {
    margin: 0 auto;
}

/* Link formatting (remove underline) */
a {
    text-decoration: none;
}

/* Homepage Logo */
.homepageLogo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 600px;
}

/* Tagline below homepage logo */
.tagline {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    text-align: center;
}

/* Homepage Image */
.homepageImage {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 700px;
}

/* Navigation Bar */
.navBar {
    align-items: center;
    display: flex;
    justify-content: center;
}

/* Navigation Bar Buttons */
.navButton {
    background-color: rgb(228, 227, 227);
    border-color: black;
    border-width: 0px;
    color: #ce1b38;
    display: block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    height: 30px;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    width: 100px;
}
.navButton:hover {
    background-color: rgb(241, 241, 241);
    border-color: #ce1b38;
    box-shadow: 0 0 15px 3px rgb(247, 190, 190);
    cursor: url("cheers.png"), default; /* Adds a new cursor on hover over "store" button */
    margin-top: 20px;
    opacity: 4;
}

/* Homepage Button */
.homepageButton {
    background-color: rgb(228, 227, 227);
    border-color: black;
    border-width: 0px;
    color: #ce1b38;
    display: block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 160px;
}
.homepageButton:hover {
    background-color: rgb(241, 241, 241);
    border-color: #ce1b38;
    box-shadow: 0 0 15px 3px rgb(247, 190, 190);
    cursor: url("cheers.png"), default; /* Adds a new cursor on hover over "store" button */
    margin-top: 20px;
    opacity: 4;
}

/* Formatting of products and individual items */
.products {
    display: flex;
    flex-flow: row wrap;
    font-family: 'Josefin Sans', sans-serif;
    justify-content: space-around;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
}
.item {
    margin-left: 50px;
    margin-right: 50px;
    width: 200px;
}

/* Glow for hover over rating image */
.rating:hover {
    box-shadow: 0 0 15px 3px rgb(226, 219, 157);
}

.beerPicture:hover {
    opacity: 0.75;
}

.invoiceTable {
    font-family: 'Josefin Sans', sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.login {
    display: block;
    font-family: 'Josefin Sans', sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Footer formatting */
footer {
    color: rgb(180, 180, 180);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
}